<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Faasos</title>
  <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>

<body>
{{> header this}}
  <div class="container">
    <div class="row">
      {{{body}}}
    </div>
  </div>
  {{> footer this}}
      <script src="/public/javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="/public/javascripts/bootstrap.min.js"></script>
    </body>
    </html>
